################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FilenameScrambler/v15
/FilenameScrambler/bin/Debug
/FilenameScrambler/bin/Release/FilenameScrambler.pdb
/FilenameScrambler/obj/Debug
/FilenameScrambler/obj/Release